Convention for YANG modules with RFCs that must be treated as examples

We see different conventions:
- "ex-" in the module names. For example: ex-ethernet-bonding.yang or ex-vlan.yang in RFC7223
- my-*, like my-crypto, my-interfaces, my-config, or my-extension in RFC 6020
- example1, example2, exampleX in RFC 6110
- example-ospf in RFC 6244
- vendorx-\* in RFC 6244
- funny names like module a, module b, module rock, in RFC 6020
- module names that could be real modules in the future: module event or module syslog in RFC 6020
- the famous "acme" examples, like in RFC6020
- the famous "foo" examples, like in RFC 6087

We need a convention. Potential tracks:
1. different tags than CODE BEGINS/CODE ENDS
2. a module naming convention for example
3. CODE BEGINS/CODE ENDS MUST not be used for examples  
4. sol 1 and 2, sol 2 and 3

Background: as discussed during the IETF 92meeting, see http://trustee.ietf.org/license-info/IETF-TLP-4.htm 

Guidance on the namespace would be welcome as well
From RFC 6244:
    module example-ospf {
           namespace "http://example.org/netconf/ospf";
           prefix ospf;
From RFC 6643:
   module acme-RMON2-MIB-deviations {
       namespace "http://acme.example.com/RMON2-MIB-deviations";
       prefix "acme-rmon2-devs";

For completeness: "All RFCs with example YANG modules that contain CODE BEGINS/CODE ENDS. That’s a mistake!" at http://www.claise.be/IETFYANGOutOfRFCNonStrictToBeCorrected.html


Added text that says MUST NOT use <CODE BEGINS> for examples.
Added text that says example.com SHOULD be used for all
example module namespace URIs.


Draft version 3 misses that "CODE BEGINS/CODE ENDS MUST not be used for examples"


End of sec. 4.1

   Note that this convention MUST NOT be used for example modules or
   module fragments.

Andy

On Mon, Jun 15, 2015 at 8:30 AM, bclaise notifications@github.com wrote:

> Draft version 3 misses that "CODE BEGINS/CODE ENDS MUST not be used for
> examples"
> 
> —
> Reply to this email directly or view it on GitHub
> https://github.com/netmod-wg/rfc6087bis/issues/17#issuecomment-112110374
> .


Thanks Andy. I missed it, I have to admit. Now it's not too clear if "this convention" only focuses on "The "<CODE BEGINS>" tag SHOULD be followed by a string" or also on "The strings "<CODE BEGINS>" and "<CODE ENDS>" MUST be used to identify each code component."
OLD:    Note that this convention MUST NOT be used for example modules or
   module fragments.

NEW:    Note that these conventions in this section ("The strings "<CODE
   BEGINS>" and "<CODE ENDS>" MUST be used to identify each code
   component." and "The "<CODE BEGINS>" tag SHOULD be followed by a string identifying
   the file name specified in Section 5.2 of [RFC6020]." MUST NOT be used for example modules or
   module fragments.

I would also add:
The YANG modules displayed as examples MUST contain "example" in their names


In addition to the fact that example YANG models should not be surrounded by CODE BEGINS and CODE ENDS, the following error message should be ignored/suppressed for example YANG modules.
Added this in issue#11 also.
example-xyz-alarms.yang:1: error: IETF rule (RFC 6087: 4.7): statement "module" must have a "contact" substatement
example-xyz-alarms.yang:1: error: IETF rule (RFC 6087: 4.7): statement "module" must have a "organization" substatement

If keywords such as "contact" and "organization" are present in the module, they will be validated for correctness.

Finally, the example YANG module should compile, and any error/warnings will be flagged.


Mahesh, the point is that the example YANG modules should compile for the specific YANG keywords they use, but some other errors/warnings might be ok. For example, the following errors are fine to ignore IMO:
    example-xyz-alarms.yang:1: error: IETF rule (RFC 6087: 4.7): statement "module" must have a "contact" substatement. Since this is an example YANG module, the error message can be safely ignored.
    example-xyz-alarms.yang:1: error: IETF rule (RFC 6087: 4.7): statement "module" must have a "organization" substatement. Same here. Ignore the error message. Please note that if keywords are included in example module, they will be validated for correctness.

There are certainly some similar ones. So we should have a generic sentence or two about that.


edits are stable


added updates about module name prefix
and suggestions for other SDOs


closed in draft-05
